* {
    color:#53B3CB ;
}

#submit{
    color:#0267C1;
    border:2px solid lightblue;
}

#submit:hover{
    background-color:#c4dcfc;
    border:2px solid lightblue;

    
}
.container-fluid{
   background-color: white;
}

img{
    padding-left: 20px;
}

footer{
    text-align: center;
    display: grid!important;
    justify-content: center!important;
}

p{
    margin-top: none;
    margin-bottom: none;
    display: flex;
    justify-content: center;
    text-align: center;
}


